.card-counter{
    box-shadow: 2px 2px 10px #DADADA;
    margin: 5px;
    padding: 20px 10px;
    background-color: #fff;
    height: 100px;
    border-radius: 5px;
    transition: .3s linear all;
  }

  .card-counter:hover{
    box-shadow: 4px 4px 20px #DADADA;
    transition: .3s linear all;
  }

  .card-counter.primary{
    background-color: #007bff;
    color: #FFF;
  }

  .card-counter.secondary{
    background-color: #9FA6B2;
    color: #FFF;
  }

  .card-counter.danger{
    background-color: #ef5350;
    color: #FFF;
  }

  .card-counter.warning{
    background-color: #E4A11B;
    color: #FFF;
  }
  .card-counter.success{
    background-color: #66bb6a;
    color: #FFF;
  }  

  .card-counter.info{
    background-color: #26c6da;
    color: #FFF;
  }  

  .card-counter.dark{
    background-color: #000000;
    color: #FFF;
  }  

  .card-counter i{
    font-size: 4em;
    opacity: 0.2;
  }

  .card-counter .count-numbers{
    position: absolute;
    right: 35px;
    top: 20px;
    font-size: 32px;
    display: block;
  }

  .card-counter .count-name{
    position: absolute;
    right: 35px;
    top: 65px;
    font-style: italic;
    text-transform: capitalize;
    opacity: 0.5;
    display: block;
    font-size: 30px;
  }

  .card-counter .btn{
    box-shadow: 2px 2px 10px #DADADA;
    margin-left: -10px;
    margin-right: -10px;
    padding: 10px 0px;
    background-color: #5a2ac98c;
    color: #FFF;
    font-weight: bolder;
    height: 50px;
    width: auto;
    border-radius: 1px;
    transition: .3s linear all;
    display: block;
  }